<div class="row">
    <div class="col xs-12">
        <button type="button" class="btn btn-primary btn-sm">New Recipes</button>

    </div>
</div>
<hr>
<div class="row mt-3">
    <div class="col xs-12">
        <div class="card" style="width: 19rem;" *ngFor="let rc of myfirstRecipe">
            <img [src]="rc.imagePath" class="card-img-top" alt="{{rc.imagePath}}">
            <div class="card-body">
                <h5 class="card-title">{{rc.name}}</h5>
                <p class="card-text">{{rc.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <app-recipeitems></app-recipeitems>
    </div>
</div>