<div class="row">
    <div class="col xs-12">
        <img src="" alt="working on it" class="img-details">
    </div>
</div>
<div class="row mt-1">
    <div class="col xs-12">
        <h3>Recipes Name</h3>

    </div>
</div>
<div class="row">
    <div class="col xs-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col xs-12">
            <p>description</p>

        </div>
    </div>
    <div class="row">
        <div class="col xs-12">
            <p>Ingredients</p>

        </div>
    </div>