<div class="conatiner-fluid">
    <div class="row">
        <div class="col-md-12 myheader">
            <app-myheader></app-myheader>
        </div>
    </div>
    <div class="row mt-1 banner">
        <div class="col md-12 ">
            
        </div>
    </div>
    <div class="row my-2 mx-1">
        <div class="col md-6 myleftsection me-1">

        </div>
        <div class="col md-6 myrightsection">

        </div>
    </div>
    <div class="row">
        <div class="col md-12 my-2 footer">

        </div>
    </div>
    <div class="row  ">
        <div class="col md-12 footer">

        </div>
    </div>
    <div class="row my-2">
        <div class="col md-12 footer">

        </div>
    </div>
</div>