<div class="conatiner-fluid">
    <div class="row">
        <div class="col-md-12 myheader">
            <app-myheader></app-myheader>
        </div>
    </div>
    <div class="row banner">
        <div class="col md-12 ">
            <app-banner></app-banner>
        </div>
    </div>
    <div class="row my-2 mx-1">
        <div class="col md-6 myleftsection me-1">
            <div class="row">
                <div class="col md-12">
                    <app-recipes></app-recipes>
                </div>

            </div>
            <div class="row">
                <div class="col md-12">
                    <app-shoppinglist></app-shoppinglist>
                </div>

            </div>


        </div>
        <div class="col md-6 myrightsection">

        </div>
    </div>
    <div class="row">
        <div class="col md-12 my-2 footer">

        </div>
    </div>
    <div class="row  ">
        <div class="col md-12 footer">

        </div>
    </div>
    <div class="row my-2">
        <div class="col md-12 footer">

        </div>
    </div>
</div>