* {
    margin: 0px;
    padding: 0px;
    /* background-image: linear-gradient(rgb(221, 33, 33), rgb(255, 255, 237)); */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
}

.myheader {
    /* background-color: aqua; */
    /* height: 80px; */
    /* border: 1px solid black; */
}

.banner {
    height: 365px;
    /* border: 1px solid black; */
}

.myleftsection {
    /* background-color: brown; */
    height: 500px;
    /* border: 1px solid black; */
}

.myrightsection {
    /* background-color: black; */
    /* border: 1px solid black; */
    height: 500px;
}

.footer {
    /* background-color: tan; */
    height: 100px;
    /* border: 1px solid black; */
}